:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  border-color: #646cff;
}

 
.centerBox{
  box-shadow: 10px 10px 15px #3f3d3d60; /* Shadow settings */
  padding: 2vh 3vh;
  border-radius: 5vh;
  padding: 5vh 10vh;
  display: inline-block;
}

.addTaskBtn{
  background-color: #2DAF3F;
  color: #fff;
  padding: 1vh 1vw;
  height: 2em;
  border-width: 0.3vh;
  font-size: 1em;
}

input[type='text'].addTaskText{
  border-color: #00f0;
  border-radius: 1vh;
  border-width: 0.3vh;
  border-style: solid;
  padding: 1vh 1vw;
  height: 1em;
}

input[type='text']:focus.addTaskText{
  border-color: #ADD8E6;
  outline: none;
}


